.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: -27px;
  left: -5px;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

.header__logo {
  height: 170px;
  width: 175px;
  margin: 0;
}

.header-icon {
  height: 100%;
  width: auto;
}
